<?xml version="1.0" encoding="utf-8"?>
<!--
  IIS application hosting only the apiweb hop (apiweb.ashx). Create an application under an existing
  site (e.g. projects.digitalpencorp.ch/immoba-hop) pointing at the folder that holds this file and
  apiweb.ashx, with an application pool on .NET Framework v4.x (integrated pipeline).
  Set HopSecret to a long random value and give the same value to the Pages Function secret
  APIWEB_HOP_SECRET (or to the Node relay's env).
-->
<configuration>
  <appSettings>
    <add key="HopSecret" value="CHANGE_ME_LONG_RANDOM" />
    <add key="MaxPerMinute" value="60" />
    <add key="ApiwebUrl" value="https://apiweb.inmovilla.com/apiweb/apiweb.php" />
  </appSettings>
  <system.web>
    <compilation targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" maxRequestLength="64" />
    <customErrors mode="On" />
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="65536" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
